//light Theme
$main-bg-color: hsl(0, 0%, 93%);
$main-text-color:  hsl(0, 0%, 13%);
$surface1: hsl(0, 0%, 78%);

//dark Theme
$main-bg-color-dark: hsl(0, 0%, 13%);
$main-text-color-dark:  hsl(0, 0%, 93%);
$surface1-dark: hsl(0, 3%, 6%);


