@use '../abstract/' as *;


header {
  padding: 1em;
  position: relative;
  @include respond-to('small') {
    position: fixed;
    width: 100vw;
    background: var(--main-bg-color);
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $max-width;
    margin: 0 auto;
    @include respond-to('small') {
      // align-items: baseline;
    }
  }
  .brand {
    h1 {
      font-size: 2.2em;
    }
  }
  .toggle {
    display: block;
    cursor: pointer;
    z-index: 2;
    position: relative;
    @include respond-to('small') {
      display: none;
    }
    span {
      display: block;
      width: 2rem;
      height: 0.2rem;
      background: var(--main-text-color);
      margin: 0.5rem;
      border-radius: 1rem;
      transition: $transition;
    }
    span:nth-child(2) {
      width: 1.4rem;
    }
  }
  .open {
    span:first-child {
      transform: rotate(45deg);
      transform-origin: left center;
    }
    span:last-child {
      transform: rotate(-45deg);
      transform-origin: left center;
    }
    span:nth-child(2) {
      opacity: 0;
    }
  }
  .main-nav {
    position: absolute;
    top: 0;  
    right: 0;
    background: var(--surface-one);
    height: 100vh;
    width: 0vw;
    z-index: 1;
    overflow: hidden;
    transition: $transition;
    @include respond-to('small') {
      height: auto;
      width: 100%;
      display: flex;
      align-items: center;
      background: none;
      top: auto;
      position: relative;
      right: auto;
    }
    ul {
      list-style: none;
      padding: 1.5rem;
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      @include respond-to('small') {
        flex-direction: row;
        margin: 0;
        padding: 0;
      }
      li {
        margin: 1rem;
        a {
          padding: 0.5rem;
          width: 100%;
          display: block;
        }
      }
    }
    .sidenav {
      display: flex;
      padding: 1.5rem;
      flex-direction: column;
      @include respond-to('small') {
        flex-direction: row;
        margin-left: auto;
        padding: 0;
      }
      .dark-switch {
        display: flex;
        align-items: center;
        padding: 1rem;
        justify-content: space-between;
        @include respond-to('small') {
          padding: 0;
          margin: 0 2rem;
          column-gap: 1rem;
        }
      }
      button {
        margin-top: 5rem;
        @include respond-to('small') {
          margin: 0;
        }
      }
    }
  }
  .show {
    width: 60vw;
  }
  
}